{% extends "auctions/layout.html" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2 class="my-4">Create New Listing</h2>
        <div class="card p-4 shadow-sm">
            <form method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-3">List Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}